.story-wrapper {
  .node, .recommendation-item {
    cursor: pointer;

    h2 {
      font-size: 1.1rem;
      text-transform: uppercase;
      margin: 4px 0;
    }
    h3 {
      margin: 4px 0;
      font-size: 1.0rem;
    }
    p {
      font-size: 0.8rem;
      text-align: justify;
    }
  }

  .node-topic {
    p {
      text-align: center;
    }
  }

  .node-segment {
    &.not-relevant {
      color: #999;
      p {
        font-size: 0.6rem;
      }
    }
  }

  .segment-source {
    font-size: 0.8rem;
    color: #333;
    font-style: italic;
  }

  .node-wrapper-topic {
    position: absolute;
    width: 200px;
    height: 150px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #137CBD;
    color: white;
    border-radius: 25%;
  }

  .node-wrapper-document {
    position: absolute;
    width: 300px;
    height: 150px;
    padding: 5px;
    background: #3e3e3e;
    color: white;
    border-radius: 10px;
  }

  .story-controls {
    display: flex;
    justify-content: space-between;

    .story-controls-left,
    .story-controls-right {
      display: flex;

      padding-bottom: 10px;

      button {
        margin-right: 3px;
      }
    }

  }
}

// Overlays (outside of wrapper)

.selected-node-wrapper {
  //overflow-y: scroll;
}

.selected-node {
  border: 3px dotted #333;
  padding: 20px 30px;
}

.recommendation-document {
  margin: 3px;
  background: #efefef;
  padding: 5px;
  font-size: 0.65rem;
  cursor: pointer;

  h2 {
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
  }

  h3 {
    margin: 0;
    padding: 0;
    font-style: italic;
    font-weight: normal;
    font-size: 0.8rem;
  }
}

.recommendation-segment {
  margin: 3px;
  background: #efefef;
  padding: 5px;
  font-size: 0.80rem;
  cursor: pointer;

  button {
    cursor: move;
  }

  p {
    margin: 0;
  }
}

.recommendations {
  //overflow-y: scroll;
  width: 50%;
}
.recommendations-header {
  background: #333;
  color: #fff;
  font-weight: bold;
  margin: 15px 3px 3px;
  text-align: center;
  text-transform: uppercase;
}
.recommendations-body {
  overflow-y: scroll;
  height: calc(100vh - 300px);
}

.recommendations-wrapper {
  display: flex;
}

.recommendation-segment.recommendation-selected,
.recommendation-document.recommendation-selected {
  //border: 3px dotted #91c4ef;
  background: #91c4ef;
}

.add-topic-card {
  left: calc(50vw - 300px);
  margin: 10vh 0;
  width: 600px;
  top: 0;
}

.export-story-card, .create-segment-card {
  left: calc(50vw - 400px);
  margin: 10vh 0;
  width: 800px;
  top: 0;
}

.selected-link-wrapper {
  padding: 5px;
}

.selected-link {
  border: 2px dotted #333;
  padding: 10px 15px;

  label {
    color: #666;
    display: block;
    text-transform: uppercase;
  }

  span.value {
    font-size: 1.3rem;
  }

  div.row {
    margin-bottom: 5px;
  }
}


.no-selection {
  text-align: center;
  padding: 25px;
  font-style: italic;
}
