$icon-font-path: "~@blueprintjs/icons/resources/icons";

@import "~@blueprintjs/core/src/blueprint.scss";
//@import "~@blueprintjs/table/src/table.scss";
@import "~@blueprintjs/icons/src/blueprint-icons.scss";
@import "~@blueprintjs/select/src/blueprint-select.scss";

$aleph-primary: #0000ff;
$aleph-secondary: #000080;

$pt-intent-primary: $aleph-primary;

.bp3-navbar {
  background: $aleph-primary;
  color: #fff;
}

.bp3-navbar-divider {
  border-color: #fff;
}



.App {
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-align: center;

  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 1rem;
}

:focus { outline: 0; }
